body,
html{
	margin:  0; 
	padding: 0;
	font-size:18px;
}
body{
	background-color: #fff;
    background-size:100%;
	background-attachment:fixed;
}
a, a img{
	text-decoration:none;
	border:none;
}
img{
	max-width:100%;
	height:auto;
}
.principal{
	width: 100%;
	height: 690px;
	background-position: 60% 40%;
    background-repeat: no-repeat;
    background-size: cover;
	color: #444;
	margin: 0 auto;
	font-family:sans-serif;
	background-image: url('Imagens/header-infopreta.png');
}
.borda {
	margin-left: 92px;
	margin-right: 92px;
}
.cabecalho, 
.logo, 
.rodape,
.menu{
	width:960px;
	display:block;
	clear:both;
}
.cabecalho{
	height:100px;
}
.logo-cabecalho{
	float:left;
}
.logo-cabecalho a{
	font-size:50px;
	font-style:italic;
	text-decoration:none;
	color:rgb(255, 255, 255);
	display:block;
	padding:20px 0 0 0;
}
img.desaturate { 
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.pesquisa{
	float:right;
	margin-top:40px;
	margin-right:10px;
}
.menu{
	background:none;
}
.menu ul li, 
.menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.menu ul li{
	display:inline-block;
}
.menu ul li a{
	display:block;
	color:#fff;
	padding:13px 20px;
}
.corpo{
	position:relative;
	overflow:hidden;
}
.artigos{
	float:left;
}
.artigos, .artigos:before{
	width:70%;
}
.artigos:before{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	background:#fff;
	z-index:-1;
	content:'';
}

.espacamento{
	padding:20px;
}
.rodape{
	padding:20px;
	text-align:center;
}