html{
	margin:  0; 
	padding: 0;
	font-size:18px;
}
body{
	width: 1440px;
  height: 4964px;
  background-color: #f8f9fc;
}
a, a img{
	text-decoration:none;
	border:none;
}
img{
	max-width:100%;
	height:auto;
}
.principal{
	width: 100%;
	height: 690px;
	background-position: 60% 40%;
  background-repeat: no-repeat;
  background-size: cover;
	color: #444;
	margin: 0 auto;
	font-family:sans-serif;
	background-image: url('Imagens/header-infopreta.png');
}
.borda {
	margin-left: 92px;
	margin-right: 92px;
}

.header, 
.logo, 
.rodape,
.menu{
	width:960px;
	display:block;
	clear:both;
}
.header{
	height:100px;
}
.logo-header{
		float:left;
}
.logo-header a{
	font-size:50px;
	font-style:italic;
	text-decoration:none;
	color:rgb(255, 255, 255);
	display:inline-block;
	padding:20px 0 0 0;
	vertical-align: top;
	margin-right: 20px;
  margin-top: 15px;
}
.menu{
	
	background:none;
}
.menu ul li, 
.menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.menu ul li{
	display:inline-block;
}
.menu ul li a{
	display:inline-block;
	color:#fff;
	padding:13px 20px;
}
.headertop{
	float:right;
	margin-top: -30px;
}

.Intro{
	width: 674px;
	height: 130px;
	font-family: OpenSans;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	}
.Intro{
	font-weight: normal;
	}
.MiniResumo{
	width: 542px;
  font-family: OpenSans;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
	}
.MiniResumo{
	font-weight: 600;
}
.corpo{
	position:relative;
	overflow:hidden;
}
.artigos{
	float:left;
}
.artigos, .artigos:before{
	width:70%;
}
.artigos:before{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	background:#fff;
	z-index:-1;
	content:'';
}

.espacamento{
	padding:20px;
}
.rodape{
	padding:20px;
	text-align:center;
}