@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #f8f9fc;
}

.principle {
    height: 690px;
    background-position: 60% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-image: url('Imagens/header-infopreta.png');
}

.border {
    margin-left: 92px;
    margin-right: 92px;
}

h1 {
    font-weight: bold
}

h2 {
    font-weight: bold
}

.top-description {
    font-size: 16px;
    font-weight: lighter
}

.header,
.logo,
.footer,
.menu {
    display: block;
    clear: both;
}

.header {
    padding-top: 40px;
    height: 100px;
}

.logo-header {
    margin: 15px 0 0 0;
    float: left;
}

.logo-header a {
    font-size: 50px;
    font-style: italic;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px 0 0 0;
    vertical-align: top;
    margin-right: 20px;
}

.menu {
    background: none;
}

.menu ul li,
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: inline-block;
    color: #fff;
    padding: 13px 20px;
}

.headertop {
    float: right;
    margin: 5px 0 0 0;
}

.Title {
    width: 674px;
    height: 130px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.Index {
    width: 542px;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #ffffff;
    font-weight: 600;
}

.Button {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
    background-color: #1fdb84;
}

.whatsapp {
    width: 250px;
    height: 68px;
    border: none;
}

.TextButton {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.espacamento {
    padding: 20px;
}

.espacamento-menor {
    padding: 12px;
}

.line-green {
    width: 60px;
    height: 4px;
    background-color: #1fdb84;
}

.float-retangle {
    margin-top: -98px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.column {
    flex: 1;
    margin: 2px;
    padding: 10px;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

.footer {
    padding: 20px;
    text-align: center;
}

.secondscreen {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.window {
    display: none;
    position: fixed;
    overflow: scroll;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.window-content {
    background-color: #fefefe;
    margin: auto;
    border-radius: 8px;
    padding: 26px;
    border: 1px solid #888;
    width: 55%;
}

.div-content {
    float: left;
    margin: 0 45px 0 0;
}

.maps {
    height: 450px;
    width: 540px;
    margin-top: 10px;
    display: inline-block;
    touch-action: pan-x pan-y;
}

.content {
    margin: 86px 191px 86px 191px;
}

.subtitle {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #7e8085;
}

.title-project {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.35;
    text-align: center;
    color: #031d5b;
}

.subtitle-project {
    font-size: 24px;
    font-weight: 600;
    color: #031d5b;
}

.img-project {
    width: 576px;
    height: 696px;
    float: left;
    padding-right: 72px;
}

.info {
    font-size: 16px;
    line-height: 1.75;
    color: #7e8085;
}


/* Ajustes para responsividade (Considerar mínimo Iphone 4) */

@media screen and (max-width: 980px) {
    .float-retangle .column {
        margin-bottom: 5px;
        flex-basis: 40%;
        &:nth-last-child(2) {
            margin-right: 0;
        }
        &:last-child {
            flex-basis: 100%;
            margin: 0;
        }
    }
    .img-project {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .float-retangle .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (max-width: 768px) {
    .Title {
        width: 100%;
    }
    .espacamento {
        padding: 12px;
    }
    .espacamento-menor {
        padding: 0px;
    }
    .top-description {
        font-size: 13px;
    }
    .window {
        padding-top: 20px;
    }
    .window-content {
        width: 90%;
        max-height: calc(100vh - 10px);
        padding: 8px;
    }
    .maps {
        width: 100%;
        height: calc(50vh - 60px);
        margin-top: 8px;
    }
    .border {
        margin-left: 23px;
        margin-right: 8px;
    }
    .headertop {
        /* remover ao fazer o menu responsivo */
        display: none;
    }
    .content {
        margin: 23px 42px 23px 42px;
    }
}